body {
    background-color: black;
}

h1 {
    color: yellow;
}

.Login a {
    color: yellow;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;

}

form {
    color: yellow;
}

.Login {
    border: none;
    background-color: black;
    display: inline-block;
    border-radius: 8px;
    text-align: center;
}