body {
    background-color: black;
}

h1 {
    text-align: center;
    color: yellow;
    text-transform: uppercase;

}

.Owner {
    text-align: left;
    color: yellow
}

.Assinstent {
    text-align: right;
    color: yellow
}


.Tickets {
    color: yellow;
}

.Turkey {
    color: yellow;
}

.Turkey1 {
    color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color: black;
}
.America{
    color: yellow;
}
.America1{
    color: yellow;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s;
    background-color: black;
}
