.Lorem1{
    background-color: #000000;
 }
 .Loreming1{
     font-size: 55px;
     color: hsl(24, 50%, 90%);
     background-color: #000000;
     
     
 }
 .Lorem1{
     color: rgb(red, green, blue);
 }

 
 
 
     
 