:root {
--primary-10: #000000;
  --primary-20: #333333;
  --primary-30: #4b4b4b;
  --priamary-40: #8b8b8b;
  --primary-50: #949494;

}

html.dark {
  --bg: #121212;
  --text: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--text);
  
}