* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    background: rgb(2,0,36);
    background: linear-gradient(278deg, rgba(2,0,36,1) 0%, rgba(176,1,1,1) 91%);
}
    


hr {
    border: 0;
    border-top: 3px solid #D32F2F
}

h1 {
    text-align: center;
}

a {
    color: black;
}
.games {
    text-align: center;
}
button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0bda2dd3, #1cb94b);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    cursor: pointer;
    
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }


.price{
    color: #3eff00;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px;
    color: black;
}
.list {
    border: 5px solid black; 
    padding: 20px;
}
.games{
    border: 5px solid black;
    padding: 20px;
}
.red{
    border: 5px solid black;
    padding: 20px;
}
.ac33{
    border: 5px solid black;
    padding: 20px;
}
.g4{
    border: 5px solid black;
    padding: 20px; 
}
.gott{
    border: 5px solid black;
    padding: 20px;  
}
.goddd{
    border: 5px solid black;
    padding: 20px;  
}
.acuu{
    border: 5px solid black;
    padding: 20px;
}
.tlou{
    border: 5px solid black;
    padding: 20px; 
}
