
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif; 
    color: red; 
    background: rgb(2,0,36);
background: linear-gradient(278deg, rgba(2,0,36,1) 0%, rgba(176,1,1,1) 91%);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


.form-container {
    background-color: black; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}


h2 {
    text-align: center; 
    margin-bottom: 20px; 
}


input {
    width: 100%;
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

button {
    width: 100%; 
    padding: 10px; 
    background-color: cyan; 
    color: black; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}


