
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif; 
    color: red; 
    background: rgb(2,0,36);
background: linear-gradient(278deg, rgba(2,0,36,1) 0%, rgba(176,1,1,1) 91%);
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}


.form-container {
    background-color: black; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 300px; 
}


h2 {
    text-align: center; 
    margin-bottom: 20px; 
}



input {
    width: 100%;
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}


button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #00b7ffd3, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

